<div class="container">
  <div class="class row">
    <div class="col-12   mx-auto">
      <div bg-white shadow rounded p-4>
        <div>
          <!-- <img [src]="imgUrl"> -->
        </div>
        <mat-form-field>
          <input matInput type="text" placeholder="Recherche" class="form-control" [formControl]="searchBar">
        </mat-form-field>
        <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"> -->
        <!-- ma version -->
        <!-- <mat-option *ngFor="let item of countries " [formControl]="myControl" [value]="item"> -->

        <!-- version mohamed -->
        <!-- <mat-option *ngFor="let item of option " [formControl]="myControl" [value]="option"> -->
        <!-- <mat-option *ngFor="let option of filteredOptions | async " [value]="option"> -->
        <!-- {{option}} -->
        <!-- </mat-option> -->
        <!-- </mat-autocomplete> -->
        <hr class="bg-dark mb-5">
        <mat-list>
          <!-- <mat-list-item *ngFor="let item of users; index as i" class="card mb-3" (click)="onOpenModal(i)"> -->
          <mat-list-item *ngFor="let item of users; index as i" class="card mb-3" (click)="onOpenModal(item)">
            <img matListAvatar src="{{item.avatar}}" alt="...">
            <h3 matLine class="card-title"> {{item.firstName}} {{item.lastName}} </h3>
            <p matLine>
              <span> {{item.email}} </span>

            </p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
