<!-- <div class="container-fluid">
  <mat-list dense>
    <a mat-list-item routerLink="/overview/profil" routerLinkActive="active" mat-focus-indicator>Profil</a>
  -->
     <!-- <mat-list-item> <a routerLink="/overview/chat" routerLinkActive="active">Chat</a> </mat-list-item> -->
   <!-- : <mat-list-item> <a routerLink="/overview/directory" routerLinkActive="active">Répertoire</a> </mat-list-item> -->
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Digilab</h1>
    <button mat-button (click)="opened=!opened" ><mat-icon>menu</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

-->
   <!-- <mat-drawer-container class="sidenav-container">
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-nav-list > -->

        <!-- <a mat-list-item routerLink="/overview/profil" routerLinkActive="active" ><mat-icon>account_circle</mat-icon>Profil</a>
        <a mat-list-item routerLink="/overview/chat"  routerLinkActive="active"><mat-icon>chat</mat-icon>Chat</a>
        <a mat-list-item routerLink="/overview/directory" routerLinkActive="active"><mat-icon>folder_open</mat-icon>Directory</a>
        <a mat-list-item routerLink="/finder" routerLinkActive="active"><mat-icon>person_search</mat-icon>Finder</a> -->
      <!-- </mat-nav-list>
    </mat-sidenav>
      </mat-drawer-container>






     <mat-list-item> <a routerLink="/finder" routerLinkActive="active">Finder</a> </mat-list-item> -->
  <!-- </mat-list> -->
<!-- </div> -->
<!-- <div class="menu" cdkMenu>
  <button class="menu-item" cdkMenuItem>Inbox</button>
  <button class="menu-item" cdkMenuItem>Snoozed</button>
  <button class="menu-item" cdkMenuItem>Important</button>
  <button class="menu-item" cdkMenuItem>Sent</button>
  <button class="menu-item" cdkMenuItem>Drafts</button>
  <button class="menu-item" cdkMenuItem>All Mail</button>
</div> -->
 <!-- <mat-sidenav-container class="sidenav-container">
   <mat-sidenav class="sidenav" #sidenav2 opened="true" mode="side">
    <mat-toolbar>My Profile
      <div class="iconNavTopLeft">
        <mat-icon>notifications_active</mat-icon>
        <mat-icon>account_circle</mat-icon>
      </div>
    </mat-toolbar> -->
    <!-- <div class="cardprofil">


    </div>
      <mat-nav-list>
        <a mat-list-item routerLink="/overview/profil" routerLinkActive="active" mat-focus-indicator><mat-icon>manage_accounts</mat-icon>Profil</a>
        <a mat-list-item routerLink="/overview/chat"  routerLinkActive="active"><mat-icon>chat</mat-icon>Chat</a>
        <a mat-list-item routerLink="/overview/directory" routerLinkActive="active"><mat-icon>all_inbox</mat-icon>Drop</a>
      </mat-nav-list>
  </mat-sidenav> -->


  <!-- <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon (click)="sidenav2.toggle()">menu</mat-icon>
      </button>
      <div class="iconNavRight">
        <mat-icon></mat-icon>
        <mat-icon>search</mat-icon>
        <mat-icon>mail</mat-icon>
        <mat-icon>inbox</mat-icon>
      </div>
    </mat-toolbar>
    <app-dashbord></app-dashbord> -->
  <!-- </mat-sidenav-content>

</mat-sidenav-container> -->
