<div class="container-fluid border overflow-hidden">

  <div class="row">
    <div class="col-md-2 border">
      <app-side-bar-left></app-side-bar-left>
    </div>

    <div class="col-md-8 overflow-hidden border overflow-hidden">
      <div class="navbar">
      <nav class=" row navbar navbar-light bg-light shadow">
        <span>Digilab</span>
      </nav>
    </div>
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>

    <div class="col-md-2 border">
      <app-side-bar-right></app-side-bar-right>
    </div>
  </div>

</div>
