<div class="container-fluid border">

  <div class="row">
    <div class="col-md-3 border">
      <app-side-bar-left></app-side-bar-left>
    </div>

    <div class="col-md-6 overflow-hidden border overflow-hidden">
      <nav class=" row navbar navbar-light bg-light shadow">
        <span>Digilab</span>
      </nav>
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>

    <div class="col-md-3 border">
      <app-side-bar-right></app-side-bar-right>
    </div>
  </div>

</div>
