<div class="container">
  <div class="class row">
    <div class="col-12   mx-auto">
      <div bg-white shadow rounded p-4>
        <h1 class="display-6 text-dark">Liste</h1>

        <hr class="bg-dark mb-5">
        <mat-list>
          <mat-list-item *ngFor="let user of dataUser" class="card mb-3 ">
            <img matListAvatar src="{{user.avatar}}" alt="...">
            <h3 matLine> {{user.first_name}} </h3>

            <p matLine>
              <span> {{user.last_name}} </span>
              <span> {{user.email}} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
