<section>
  <div>
    <h1>Profile</h1>
    <mat-form-field>
      <mat-label>
        Name
      </mat-label>
      <input matInput placeholder="" value="Sushi">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Prénom
      </mat-label>
      <input matInput placeholder="" value="Sushi">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Email
      </mat-label>
      <input matInput placeholder="" value="Sushi">
      <mat-icon>local_post_office</mat-icon>
    </mat-form-field>
  </div>
</section>
<!-- <p>profil works!</p>
 on utilise isActive seulement si isActive est à true -->
<!-- <section
(mouseover)="isFlip = true" (mouseleave)="isFlip = false"
  [ngClass]="{
    'isActive': isActive,
    'hidden': !show
  }"
  [ngStyle]="{
    'background': isFlip ? 'red' : 'inherit'}"
>
<div></div>
   <div class="card" (mouseleave)="mouseLeave()" > -->
<!-- <div class="flip-box">
    <div class="card"   [ngStyle]="{'transform': isFlip ? 'rotateY(360deg)' : ''}" >
        <div class="haut">
          <span><img src="{{ imageUrl }}" /></span> -->

<!-- <img [src]="coordonnee.logo" />

          <div>
               <div class="card-title">{{ coordonnee.societyName | uppercase }}</div> -->
<!-- <div class="card-title">{{ coordonnee.societyName}}</div>
               <div class="card-title">{{ coordonnee.rating}}</div>
               <div class="card-title">{{ coordonnee.jobTitle}}</div>
               <div class="card-title">{{ coordonnee.wage}}</div>
               <div class="card-title">{{ coordonnee.location}}</div> -->
<!-- <div class="card-subtitle mb-2 text-muted">{{ firstname }}</div> -->
<!-- </div>
        </div>

    <div id="coordonnee">
      <div>{{ coordonnee.jobTitle }}</div>
      <div class="card-subtitle mb-2 text-muted">{{ coordonnee.wage }}</div>

      <div>{{ coordonnee.location }}</div>
    </div>
    <button id="btn" (click)="onClick()">ok</button>
  </div>
</div>
<div> -->

<!-- </div> -->
