<h2 mat-dialog-title></h2>

<mat-dialog-content>
  <!-- {{data.infos | json}} -->
  <mat-dialog-actions *ngIf="data.infos.firstName">
    <p>Nom : {{data.infos.firstName}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.lastName">
    <p>Prénom : {{data.infos.lastName}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.username">
    <p>Pseudo : {{data.infos.username}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.dateOfBith">
    <p>Age : {{data.infos.dateOfBirth | age}}</p>
    <!-- <p>Age : {{data.infos.dateOfBirth}}</p> -->
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.email">
    <p>Mail : {{data.infos.email}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.street">
    <p>Rue : {{data.infos.street}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.zipCode">
    <p>Code Postale : {{data.infos.zipCode}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.city">
    <p>Ville : {{data.infos.city}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.country">
    <p>Pays : {{data.infos.country}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.email">
    <p>mail : {{data.infos.email}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.dateOfBirth">

    <p>Date : {{data.dateOfBirth | date: "dd/MM/yyyy, à hh:mm"}}</p>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="data.infos.skills">
    <mat-dialog-actions>
      <p>Qualité :
      <ul>
        <li *ngFor="let i of data.infos.skills">{{i}}</li>
      </ul>
    </mat-dialog-actions>
  </mat-dialog-actions>
</mat-dialog-content>
