.chatroom {
  height: 70vh;
  width: 90%
}

.chat {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;


}

.left {
  // background: #ddd;
  align-self: end;

}

.right {
  // background: #eee;
  align-self: start;

}

.chipL {
  background-color: cornflowerblue
}

.chipR {
  background-color: #bbdefb
}

::-webkit-scrollbar {
  width: 0
}
